body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.change-action {
    display: flex;
    margin: 1em auto 0 ;
    text-decoration: none;
    color: #fff;
    width: 150px;
}

.auth {
    color: #fff;
    background: #121212;
    display: block;
    margin:15% 0 0 40%;
    padding: 40px;
    text-align: center;
    width: 300px;
}

.auth input {
    color: #fff;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    border-radius: 24px;
    width: 200px;
    padding: 14px 10px;
}

.auth button {
    margin: auto;
    display: flex;
    background: #00ff84;
    border: 0;
    border-radius: 24px;
    padding: 12px 40px; 
    transition: all 0.3s; 
}

.messages {
    background-attachment: scroll;
    width: 700px;
    border: 1px solid black;
    font-size: 24px;
    max-width: 700px;
	margin: 15px auto;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.elems {
    width: 50vw;
    display: flex;
    margin: 1rem auto 5rem;
}

.elems input {
    color: #000;
    display: block;
    margin: 1rem auto;
    border: 2px solid #3498db;
    outline: none;
    width: 70vw;
    height: 5vh;
}

.elems button {
    border: 2px solid #18d7f8;
    margin: 1rem auto 1rem 0.5rem;
    transition: all 0.3s;
}

.entry:disabled {
    background: #fb2222;
    color: antiquewhite;
}

button:disabled {
    border: 2px solid #fb3535;
}

.nickname {
    outline: none;
    margin: 1rem auto;
}

.chat {
    display: flex;
    flex-direction: column;
}

.user-info {
    width: 40vw;
    display: flex;
}

.auth-info {
    font-size: 18px;
}

.login-name {
    padding: 3px 5px;
    font-weight: bold;
}

.message-info {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
}
